# Get Tweets of the @CTA Twitter handle

In [71]:
import tweepy
import os

consumer_key = os.getenv('twitter_CONSUMER_KEY')
consumer_secret = os.getenv('twitter_CONSUMER_SECRET')
access_token = os.getenv('twitter_ACCESS_TOKEN')
access_token_secret = os.getenv('twitter_ACCESS_TOKEN_SECRET')

# creating an OAuthHandler instance
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# my saved access token opens up the Twitter API treasure box. 
auth.set_access_token(access_token, access_token_secret)                           

# Construct the authenticated API instance
api = tweepy.API(auth)

In [72]:
tweets = []

for status in tweepy.Cursor(api.user_timeline, id="@cta").items():
    tweets.append(status._json)

In [73]:
len(tweets)

3234

In [74]:
print(tweets[1].keys())

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'lang'])

In [75]:
tweets[1]

{'created_at': 'Sat Sep 22 01:10:05 +0000 2018',
 'id': 1043306407796396033,
 'id_str': '1043306407796396033',
 'text': 'Kimball-bound Brown Line trains are standing at Kimball due to a sick customer. Crews working to restore service.',
 'truncated': False,
 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []},
 'source': '<a href="http://www.transitchicago.com/updates" rel="nofollow">ctaUpdates</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 342782636,
  'id_str': '342782636',
  'name': 'cta',
  'screen_name': 'cta',
  'location': 'Chicago, IL',
  'description': 'Chicago Transit Authority updates/news/more. Not monitored 24/7: in emergency, ALWAYS tell nearest employee/call 911. Full service: https://t.co/Nyd9MaUli2.',
  'url': 'http://t.co/rw91DEMoRY',
  'entities': {'url': {'urls': [{'url': 'http://t.co/rw91DEMoRY',
      'expanded_url': 'http://www.transitchicago.com',
      'display_url': 'transitchicago.com',
      'indices': [0, 22]}]},
   'description': {'urls': [{'url': 'https://t.co/Nyd9MaUli2',
      'expanded_url': 'http://transitchicago.com/feedback',
      'display_url': 'transitchicago.com/feedback',
      'indices': [132, 155]}]}},
  'protected': False,
  'followers_count': 234168,
  'friends_count': 72,
  'listed_count': 1318,
  'created_at': 'Tue Jul 26 15:37:01 +0000 2011',
  'favourites_count': 555,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 48637,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '191919',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1037092242576441344/mJejHIAe_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1037092242576441344/mJejHIAe_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/342782636/1536097060',
  'profile_link_color': '0065BD',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': True,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 1,
 'favorite_count': 0,
 'favorited': False,
 'retweeted': False,
 'lang': 'en'}

In [76]:
import pandas as pd

tweets_df = pd.DataFrame(tweets, 
                         columns = ['created_at', 'text', 'retweet_count', 'favorite_count'])

tweets_df['created_at'] = pd.to_datetime(tweets_df['created_at'])

In [77]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3234 entries, 0 to 3233
Data columns (total 4 columns):
created_at        3234 non-null datetime64[ns]
text              3234 non-null object
retweet_count     3234 non-null int64
favorite_count    3234 non-null int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 101.1+ KB

In [78]:
tweets_df.head()

,created_at,text,retweet_count,favorite_count
0,2018-09-22 01:13:02,Some Kimball-bound Brown Line trains are opera...,1,0
1,2018-09-22 01:10:05,Kimball-bound Brown Line trains are standing a...,1,0
2,2018-09-22 00:25:05,Some Howard-bound Red Line trains are operatin...,5,6
3,2018-09-22 00:16:37,Howard-bound Red Line trains are standing at G...,0,1
4,2018-09-21 23:47:19,"The temporary reroute of Northbound 22 Clark, ...",2,1

In [79]:
tweets_df.to_feather('cta_tweets_sample.feather')